@page "/"

<PageTitle>Index</PageTitle>


<h1>Pershendetje kuzhinierë!</h1>

<h3>Mire se erdhet ne faqen per receta shqip - Recetalb.</h3>
<p>Ne kete faqe do te gjeni variante recetash nga shume vende te botes, si Ballkani, Europa, Amerika, azia e shume vende tjera.</p>


<FaqePerReceta FaqjaPerReceta="A po te pelqen faqja?"/>
